button {
  border: none;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

button:focus-visible {
  outline: 1px solid #196037;
}

.btn-primary {
  background-color: #4acf81;
}

.btn-light {
  background-color: #49bd79;
}

.btn-secondary {
  border: 2px solid #ff8c66;
  background-color: transparent;
  color: #ff8c66;
}

.btn-main {
  padding: 10px 15px;
}

.read {
  background-color: #4acf81;
}

.not-read {
  background-color: #eab224;
}

@media screen and (min-width: 1024px) {
  button:hover {
    filter: brightness(105%);
  }

  .btn-secondary:hover {
    background-color: #ff8c66;
    color: #fff;
  }
}
