button {
  border: none;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  color: #f3f3f3;
  padding: 6px 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: transparent;
  padding: 0;
}

.btn-starter {
  padding: 12px 18px;
  margin: 0 auto;
}

.btn-main {
  width: 50px;
  height: 35px;
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  button:hover {
    filter: brightness(110%);
  }

  .btn-main {
    width: 68px;
    height: 45px;
    font-size: 32px;
  }
}
