.overlay {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 10;
}

.form-container {
  box-sizing: border-box;
  margin-top: 100px;
  min-width: 340px;
  max-width: 360px;
  padding: 30px;
  padding-top: 35px;
  border-radius: 5px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

label {
  margin-right: 8px;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}

input:not([type='checkbox']) {
  width: 100%;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: transparent;
  padding: 5px;
}

input:focus-visible {
  outline: none;
  border-bottom: 1.2px solid var(--primary-color) !important;
}

input[type='number'] {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.is-read {
  display: flex;
  gap: 5px;
}

input[type='checkbox'].is-read-checkbox {
  appearance: none;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 3px;
  vertical-align: text-bottom;
  position: relative;
  cursor: pointer;
}

input[type='checkbox'].is-read-checkbox::before {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
}

input[type='checkbox'].is-read-checkbox:focus {
  outline: 1px solid var(--primary-color);
}

/* for mixed state */
input[type='checkbox'].is-read-checkbox:indeterminate::before,
input[type='checkbox'][aria-checked='mixed'].is-read-checkbox::before {
  border: 2px solid #2f299d;
  height: 0;
  width: 40%;
}

input[type='checkbox'].is-read-checkbox:checked {
  background-color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
}

/* check mark */
input[type='checkbox'].is-read-checkbox:checked::before {
  border-right: 3px solid #f3f3f3;
  border-bottom: 3px solid #f3f3f3;
  height: 56%;
  width: 21%;
  transform: rotate(45deg) translateY(-10%) translateX(-25%);
}

button.submit-btn {
  display: inline-block;
  align-self: stretch;
  padding: 14px 0;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #f3f3f3;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  transition: all 0.3s;
}

button.submit-btn:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--primary-color);
}

button.submit-btn:hover,
button.submit-btn:active {
  filter: brightness(110%);
}

.cancel-btn {
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #7b7b7b2d inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}
