:root {
  --primary-color: #3f37c9;
  --secondary-color: #7b7b7b;
}

* {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a:focus-visible {
  outline-color: var(--primary-color);
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
