:root {
  --primary-color: #009c8f;
}

* {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a:focus-visible {
  outline-color: var(--primary-color);
}

input {
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
