.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.book-list {
  padding: 20px 0;
  width: 100%;
}

.btn-load {
  background-color: var(--primary-color);
  font-family: inherit;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  transition: all 0.3s;
}

.btn-load:active {
  transform: scale(0.98);
  filter: brightness(90%);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.get-started {
  margin-top: 50px;
  width: 250px;
  text-align: center;
  align-self: center;
  z-index: 0;
}

.get-started-text {
  font-family: 'Handlee', cursive;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.get-started-icon {
  margin-top: 2.5rem;
  filter: invert(42%) sepia(12%) saturate(4536%) hue-rotate(134deg) brightness(104%) contrast(101%);
}
