.sorting-menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sorting-icon-container {
  width: 24px;
  height: auto;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.sorting-icon-container:hover svg,
.sorting-icon-container:active svg {
  opacity: 0.7;
}

input[type='radio'] {
  display: none;
}

.sorting-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  max-width: 220px;
}

.sorting-menu p {
  font-size: 12px;
  opacity: 0.7;
}

.sorting-menu label {
  padding: 7px 10px;
  margin-right: 0;
  border-radius: 6px;
  border: 1px solid #7b7b7b74;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s;
}

.sorting-menu label:hover,
.sorting-menu label:active {
  filter: brightness(110%);
}

input[type='radio'][name='sort']:checked + .sorting-menu label {
  filter: brightness(110%);
}

@media screen and (min-width: 768px) {
  .sorting-menu {
    max-width: 100%;
  }
}
